@media screen and (max-width: 767px) {
    .header {
        width: 300px;
        height: 100px;
        background-color: #141f40;
    }

    .content {
        width: 300px;
        height: 250px;
    }
    .content_left {
        width: 100px;
        height: 250px;
        background-color: #80bfa8;
        float: left;
    }
    .content_right_left {
        width: 125px;
        height: 150px;
        float: left;
    }
    .content_right{
        width: 200px;
        height: 250px;
        float: left;
    }
    .content_right_top {
        width: 200px;
        height: 150px;
    }
    .content_yellow {
        width: 125px;
        height: 50px;
        background-color: #dbd400;
    }
    .content_blue {
        width: 125px;
        height: 100px;
        background-color: #0093b7;
    }
    .content_beige {
        width: 75px;
        height: 150px;
        background-color: #ff9e6b;
        float: left;
    }
    .content_brown {
        width: 200px;
        height: 100px;
        background-color: #8c2727;
    }

    .footer {
        width: 300px;
        height: 100px;
        background-color: #d98d30;
    }
}