.clearfix::after {
    content: “”;
    display: block;
    clear: both;
    }

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.content {
    width: 400px;
    height: 250px;
}
.content_left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.content_right_left {
    width: 150px;
    height: 150px;
    float: left;
}
.content_right{
    width: 250px;
    height: 250px;
    float: left;
}
.content_right_top {
    width: 250px;
    height: 150px;
}
.content_yellow {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.content_blue {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.content_beige {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}
.content_brown {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}