@media screen and (max-width: 479px) {
    /* 共通部分 幅設定 */
    .header,
    .content,
    .footer {
        width: 200px;
    }

    .clearfix::after {
        content: “”;
        display: block;
        clear: both;
    }

    /* ヘッダ部分 */
    .header {
        height: 200px;
    }
    .h_box {
        width: 40px;
        height: 140px;
        left: 70px;
    }
    .h_box_in:first-child,
    .h_box_in:nth-child(2) {
        margin-bottom: 10px;
    }

    /* コンテンツ部分 */
    .content {
        height: 300px;
    }
    .content_left {
        width: 200px;
        height: 100px;
    }
    .content_right {
        width: 200px;
        height: 200px;
    }
    .c_box_in {
        width: 130px;
        height: 30px;
        border: 5px solid #ffffff;
        background-color: #ff863f;
        position: absolute;
        left: 30px;
    }
    .c_box_in:first-child {
        top: 20px;
    }
    .c_box_in:nth-child(2) {
        top: 80px;
    }
    .c_box_in:nth-child(3) {
        top: 140px;
    }
}
